.Search form {
  position: relative;
  left: 10px;
}

.Search .search-bar {
  padding: 0;
  margin-bottom: 10px;
}

.Search .fas {
  padding-bottom: 5px;
  color: rgb(0, 0, 0, 0.5);
}

.Search .current-city-btn {
  margin-left: 8px;
}
